.containerFooter {
    color: $color_1;
    font-size: 5rem;
    display: flex;
    padding: 2rem;
    justify-content: space-evenly;

    .logoFooter {
        align-items: center;
        img {
            width: 20rem;
        }
    }

    .linkContainer {
        margin: 1rem;
        .links {
            display: flex;
            flex-direction: column;
            font-size: 3rem;
            margin: 1rem;
            a {
                color: $color_1;
                text-decoration: none;
                text-shadow: 0 1px 1px black;
                &:hover {
                    color: $color_3;
                    text-decoration:underline;
                }
            }
        }
    }

    .redContainer {
        margin: 1rem;
        .redSocial {
            display: flex;
            a {
                color: $color_1;
                margin: 0.5rem;

                &:hover {
                    color: $color_3;
                }
            } 
        }
    }
}

.footerContainer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: $color_backgraund1;
    color: $color_1;

    .contactFooter {
        display: flex;
        justify-content: center;
        div {
            display: flex;
            align-items: center;
            margin: 1rem;
            font-size: 2rem;

            span {
                margin-left: 0.5rem;
            }
        }
    }
}