@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$color_1: white;
$color_2: red;
$color_3: #D8C4B6;
$color_4: black;
$color_5: green;
$color_backgraund1: #213555;
$color_backgraund2: #F5EFE7;
$color_backgraund3: #19A7CE;
$color_backgraund4: #AFD3E2;
$color_backgraund5: #4F709C;
$color_backgraund6: #56afc7;
$color_backgraund7: #007bff;
$color_backgraund8: #0056b3;

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5% ;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: $color_backgraund2;
}