.detailContainer {
  padding: 3rem;
  display: flex;
  font-size: 4rem;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  color: $color_4;

  .imgDetail {
    box-shadow: 0 0 4px $color_4;
    margin: 2rem;
    img {
      width: 30rem;
    }
  }

  .DetailText {
    h3 {
      font-size: 3rem;
    }

    .price {
      font-size: 3rem;
    }

    .detailProduct {
      font-size: 3rem;
      p {
        font-size: 2rem;
        margin: 0.5rem;
      }
      #myList {
        li {
          font-size: 1.5rem;
        }
      }
    }
  }

  .detailPrice {
    border: 1px solid $color_4;
    border-radius: 1rem;
    padding: 1rem;
    width: 150px;

    .send {
      color: $color_5;
      font-size: 3rem;
      margin: 1rem;
    }
    .sales {
      margin: 1rem;
      span {
        color: $color_2;
        font-size: 2rem;
      }
    }

    .sendButton {
      display: inline-block;
      padding: 10px 20px;
      background-color: $color_backgraund7;
      color: #fff;
      text-decoration: none;
      margin: 0.3rem;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      &:hover {
        background-color: $color_backgraund8;
      }
      &:focus, :active{
        outline: none;
        box-shadow: none;
      }
    }
  }
}
