@import './global';


.navList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: $color_backgraund1;
    color: $color_1;
    a{
        color: $color_1;
        text-decoration: none;
    }

    .navLogo {
        display: flex;
        margin: 0.5rem;
        align-items: center;
        img {
            width: 20rem;
        }
        #hamburger {
            display: none;
        }

        .menu_container{
            display: flex;
            justify-content: space-around;
            align-items: center;
            list-style: none;
            margin: 0 auto;
            font-size: 2rem;
            text-shadow: 0 1px 1px black;
    
            a {
                margin-right: 1rem;
                text-decoration: none;
                color: $color_1;
                &:hover {
                    color: $color_3;
                }
            }
    
        }
    }

    .nav-search{
        display: flex;
        align-items: center;
        input{
            padding: 0.3rem;
            border-radius: 1rem;
            font-size: 1rem;
            border: none;
            &:focus{
                outline: none;
            }
        }
        a{  
            margin-left: 0.3rem;
            color: $color_1;
        }
    }
}

@media screen and (max-width: 700px){
    .navLogo{
        max-width: 100%;
    }

    #hamburger{
        display: block !important;
    }
    .menu_container{
        position: fixed;
        left: -100%;
        top: 90px;
        flex-direction: column;
        background-color: $color_backgraund3;
        width: 100%;
        height: 90vh;
        z-index: 999;
        text-align: center;
        transition: 0.3s;
        a {
            margin-right: 1rem;
            text-decoration: none;
            color: $color_1;

            &:hover {
                color: $color_3;
            }
        }
    }
    .menu_container.active {
        left: 0;
      }
}